.pubReviewsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.1rem 1rem;

    hr {
        width: 100%;
        border-color: #e5e7eb;
        margin-bottom: 0.5rem;
    }

    button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 0.5rem 0;
        color: black;
        border-radius: 0.5rem;
        cursor: pointer;
        padding: 0.5rem 1rem;

        svg {
            margin-top: 1.5px;
        }
    }

    .errorMsg {
        font-family: 'Times New Roman', serif;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        width: 80%;
    }
}