@mixin button($cancel: false) {
    @if $cancel {
        background-color: #ee1111;
    }
    @else {
        background-color: #10b981;
    }
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;

    &:hover {
        @if $cancel {
            background-color: #f17a7a;
        }
        @else {
            background-color: #6ee7b7;
        }
    }
}


.writeReviewContainer {
    background-color: black;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;

    h1 {
        align-self: center;
        color: white;
        font-family: 'Times New Roman', serif;
        font-size: 2.1rem;
        font-weight: bold;
        letter-spacing: -0.01562em;
    }

    .ratingSection {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
        font-size: 1rem;
        color: white;
    }

    textarea {
        width: 100%;
        border: 1px solid #ccc;
        padding: 0.5rem;
        border-radius: 4px;
        font-size: 1rem;
        resize: vertical;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        .cancelButton {
            @include button($cancel: true);
        }

        .submitButton {
            @include button($cancel: false);
        }
    }

}