.userReviews {
    background-color: #403c35;
    overflow-y: auto;
    height: 100%;
    color: #fffaf0;

    h1 {
        font-family: 'Times New Roman', serif;
        text-align: center;
        font-size: 3.25rem;
        font-weight: bold;
        letter-spacing: -0.01562em;
        color: white;
        padding-top: 2.5rem;
    }

    .errorMsg {
        font-family: 'Times New Roman', serif;
        font-size: 1.2rem;
        text-align: center;
    }

    .reviewsGrid {
        background-color: #373c37;
        border-radius: 0.75rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        margin: 1rem 5rem;
        padding: 2rem;
        justify-items: center;

        .userReview {
            border: 1px solid black;
            padding: 1rem;
            border-radius: 0.75rem;

            .loaderContainer {
                height: 65%;
            }
        }
    }
}