.reviewContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 0.25rem 0;
    padding: 0.5rem 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    .header {
        h2 {
            font-family: 'Times New Roman', serif;
            font-size: 1.3rem;
        }

        p {
            font-family: 'Times New Roman', serif;
            font-size: 0.1rem;
            margin-left: 0.25rem;
            text-align: left;
        }
    }

    .rating {
        margin-left: 1rem;
        font-family: 'Times New Roman', serif;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        color: white;
    }

    .reviewText {
        margin-left: 1rem;
        font-family: 'Times New Roman', serif;
        font-size: 15px;
    }

    .showMore {
        text-align: center;
        font-size: 0.875rem;
        background-color: transparent;
        color: white;
        ont-family: 'Times New Roman', serif;
        font-size: 15px;
        cursor: pointer;
    }

}
