.barContainer {
    .barTab {
      border-radius: 0.75rem;
      background-clip: border-box;
      color: #fffaf0;
      margin: 0.5rem 0;
      cursor: pointer;
      transition: ease-in-out 0.1s;
      background-color: #625b4d;

      &:hover {
        background-color: #7d6a45;
      }

      &:focus {
        background-color: #7d6a45;
      }

      &:active {
        background-color: #7d6a45;
      }
    }
}



